.menu {

    display: flex;
    /* deixa o texto deitado escrevendo corrido que quebre o texto*/

}

.menu li a {
    display: block;
    /*cria texto fixo*/
    padding: 8px;
    /*grossura do quadrado*/


}

.menu li {
    margin-left: 10px
}

/* separa o texto  */

.header {
    display: flex;
    background-color: rgb(0, 92, 121);
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.s {
    position: absolute;
    width: 115px;
    height: 25px;
    left: 8px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: center;
}

.a {
    position: absolute;
    width: 115px;
    height: 25px;
    left: 200px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: center;
}

.b {
    position: absolute;
    width: 115px;
    height: 25px;
    left: 400px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: center;
}

.barra {
    position: absolute;
    width: 600px;
    height: 25px;
    left: 989px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: center;
    text-align: left;
}

.divBusca {
    position: absolute;
    width: 600px;
    height: 25px;
    left: 989px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: center;
    text-align: left;
}

.h3 {
    text-align: center;
    text-decoration: underline;
}

.h {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 30px;
    top: 300px;
    background: #AFE6FF;
    border-radius: 21px;
}

.p {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 285px;
    top: 300px;

    background: #AFE6FF;
    border-radius: 21px;
}

.c {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 540px;
    top: 300px;

    background: #AFE6FF;
    border-radius: 21px;
}

.d {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 795px;
    top: 300px;

    background: #AFE6FF;
    border-radius: 21px;
}

.e {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 1050px;
    top: 300px;

    background: #AFE6FF;
    border-radius: 21px;
}

.f {
    position: absolute;
    width: 190px;
    height: 251px;
    left: 1300px;
    top: 300px;

    background: #AFE6FF;
    border-radius: 21px;
}

.i {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 1320px;
    top: 320px;
    background: #ffffff;
}

.j {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 50px;
    top: 320px;
    background: #ffffff;
}

.k {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 305px;
    top: 320px;
    background: #ffffff;
}


.l {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 560px;
    top: 320px;
    background: #ffffff;
}

.m {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 815px;
    top: 320px;
    background: #ffffff;
}

.n {
    position: absolute;
    width: 149px;
    /*   largura */
    height: 145px;
    /* altura */
    left: 1070px;
    top: 320px;
    background: #ffffff;
}
