

.icone7 {

    position: absolute;

    width: 190px;

    height: 251px;

    left: 30px;

    top: 310px;

    background: #AFE6FF;

    border-radius: 21px;
  }
  
  .icone8 {
  
    position: absolute;

    width: 190px;

    height: 251px;

    left: 285px;

    top: 310px;

    background: #AFE6FF;

    border-radius: 21px;
  
  }
  
  .icone9 {
  
    position: absolute;

    width: 190px;

    height: 251px;

    left: 795px;

    top: 310px;

    background: #AFE6FF;

    border-radius: 21px;
  
  }
  
  .icone10 {
  
    position: absolute;

    width: 190px;

    height: 251px;

    left: 1050px;

    top: 310px;

    background: #AFE6FF;

    border-radius: 21px;
  
  }
  
  .icone11 {
  
    position: absolute;

    width: 190px;

    height: 251px;

    left: 1300px;

    top: 310px;

    background: #AFE6FF;

    border-radius: 21px;
  
  }
  
  .icone12 {
  
    position: absolute;
  
    width: 190px;
  
    height: 251px;
  
    left: 550px;
  
    top: 310px;
  
    background: #AFE6FF;
  
    border-radius: 21px;
  
  }

  
.texto7 {

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 35px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 

.texto8 {

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 290px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.texto9 {

 

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 555px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 

}

 

.texto10 {

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 800px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 

.texto11 {

 

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 1056px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.texto12 {

 

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 1305px;

    top: 480px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.preço7{
text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 35px;

    top: 530px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
   .preço8{

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 290px;

    top: 530px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   }


  .preço9{

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 555px;

    top:  530px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  
  .preço10{

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 800px;

    top:  530px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
 .preço11{

  text-align: left;

  position: absolute;

  width: 190px;

  height: 251px;

  left: 1056px;

  top:  530px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
   .preço12{

    text-align: left;

    position: absolute;

    width: 190px;

    height: 251px;

    left: 1305px;

    top:  530px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

  .iten7 {

    position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 1320px;

    top: 320px;

  }

  .iten8{

    position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 50px;

    top: 320px;



  }

  .iten9{

    position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 305px;

    top: 320px;



  }


  .iten10{
    position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 1070px;

    top: 320px;

  }

  .iten11{

    position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 570px;

    top: 320px;

  }

.iten12{

   position: absolute;

    width: 149px;

    /*   largura */

    height: 145px;

    /* altura */

    left: 815px;

    top: 320px;

}


